@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&family=Roboto:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GLOBAL STYLES */
body {
    font-family: 'Poppins', sans-serif;
    position: relative;
}
h1 {
    font-size: 30px;
}
li {
    list-style: none;
}
button {
    padding: 1rem 2rem;
    border: 2px solid rgb(54, 133, 137);
    border-radius: 5px;
    color: rgb(54, 133, 137);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
/* NAV BAR*/
header {
    background-color: black;
}
.logo {
    width: 10%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}
.nav-info {
    display: flex;
}
.nav-info ul {
    display: flex;
    list-style: none;
}
.search,
.nav-info li {
    padding: 0.6rem 1.2rem;
    border-radius: 25px;
    border: none;
    background: rgb(50, 50, 50);
    color:white;
    font-size: 14px;
    cursor: pointer;
}
.search:hover {
    color: rgb(239, 235, 235)
}
.nav-info li {
    background: black;
}
.nav-info a {
    color: white;
    text-decoration: none;
}
.nav-info li:hover {
    background: rgb(50, 50, 50);
}
.nav-info i {
    color: white;
}
.fa-globe,
.fa-search {
    margin-right: 0.5rem;
}
/* HERO SECTION */
.hero {
    background: black;
    color: white;
    width:100%;
    padding-bottom: 4rem;
}
.hero-images-container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
.hero img {
    width:30%;
}
.hero p {
    font-size: 12px;
}
.main-content-container {
    display: flex;
    margin-top: 2rem;
    margin-left:4rem;
}
.segreti-container h2{
    font-size: 30px;
}
.segreti-container {
    width: 20%;
}
.online,
.span-performance {
    background: white;
    color: black;
    border-radius: 5px;
    padding: 0.2rem;
    font-size: 12px;
    font-weight: bold;
    align-items: center;
}
.online i {
    font-size: 10px;
    margin-right: 0.2rem;
}
.span-rating {
    margin: 0.5rem 0;
}
.span-performance {
    color:white;
    background: rgb(50, 50, 50);
    font-weight:normal;
    font-size: 11px;
    margin-right: 0.3rem;
}
.hero-btn {
    color: white;
    border:2px solid white;
    background: black;
    margin-top: 2rem;
}
.tablet-container {
    margin-left: 9rem;
    color: lightgray;
}
.tablet {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.tablet img {
    width:5%;
}
.tablet-title {
    color: gray;
}
.tablet-icons {
    display: flex;
    margin-top: 2rem;
}
.tablet-icon {
    margin-right: 4rem;
}
.sticky-footer-container {
    width: 100%;
    padding: 1rem 0 1rem;
    position: fixed;
    bottom: 0;
    z-index: 4;
    background: black;
}
.sticky-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}
.sticky-btn {
    color: white;
    background-color: rgb(238, 87, 93);
    border: 2px solid rgb(238, 87, 93);
}
/* COSA FARETE SECTION */
.cosa-farete,
.host,
.portare,
.partecipare,
.tenere {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem 4rem;
    color: rgb(72, 72, 72);
}
.text-title,
.recensioni-header {
    width: 70%;
    position: sticky;
    position: -webkit-sticky;
    top: 2rem;
}
.text {
    line-height: 2rem;
}
.text p {
    margin-bottom: 2rem;
}

/* PROVA SECTION */
.prova {
    background: rgb(242, 242, 242);
    color: rgb(72, 72, 72);
    padding: 6rem 4rem;
    display: flex;
}
.cards-container {
    display: flex;
    justify-content: space-around;
}
.card {
    width: 20%;
}
.card-title {
    margin-bottom: 0.5rem;
}
.card i {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
h2{
    font-size: 23px;
    font-weight: 300;
}

/* HOST SECTION */
.host,
.portare,
.partecipare,
.tenere,
.portare,
.recensioni {
    display: flex;
    align-items: flex-start;
    padding: 2rem 4rem;
    color: rgb(72, 72, 72);
}
.host img {
    border-radius: 50%;
    width: 20%;
}
.host p {
    margin-bottom: 2rem;
}

/* PORTARE SECTION */

.portare p {
    padding: 1.5rem 0 1.5rem;
    border-bottom: 1px solid lightgrey;
}

.portare i {
    font-size: 2rem;
    margin-right: 0.5rem;
    align-items: center;
}
.portare .text-title {
    width: 45%;
}

/* PARTECIPARE SECTION */

h2 {
    font-weight: 500;
    margin-bottom: 1rem;
}
.partecipare-card {
    margin: 1rem 0 2rem;
    padding: 1.5rem;
    background: rgb(242, 242, 242);
    border-radius: 10px;
}
.partecipare-card p {
    font-size: 14px;
    margin-bottom: 1rem;
}
.partecipare a {
    color: black;
    font-weight: bold;
}
.partecipare .text-title {
    width: 55%;
}

/* RECENSIONI */
.recensioni {
    display: flex;
}
.recensioni img {
    width: 6%;
    border-radius: 50%;
    margin-right: 1rem;
}
.recensioni i {
    color: rgb(54, 133, 137);
}
.recensioni-card-header {
    display: flex;
    margin-bottom: 1rem;
}
.recensioni-header h1 {
    margin-bottom: 0.5rem;
}
.recensioni-span {
    margin-bottom: 1rem;
}
.recensioni-title-text {
    display: flex;
}
.recensioni-title span {
    margin-left: 0.5rem;
    font-size: 14px;
}
.recensioni-card {
    margin-top: 2rem;
    padding-bottom:2rem;
    border-bottom: 1px solid lightgrey
}
.recensioni-header {
    width: 85%;
}

/* DISPONIBILITÀ SECTION*/
.disponibilita {
    color: rgb(72, 72, 72);
    padding: 2rem 4rem;
}
.calendars-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 4rem 1rem;
}
.calendars-container i{
    padding: 0.6rem 0.8rem;
    border-radius: 50%;
    border: 1px solid lightgray;
}
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 5;
    grid-gap: 0.2rem;
    margin-bottom: 2rem;
}
.month {
    margin: 0 2rem;
}
.month-title {
    margin-bottom: 1rem;
    font-size: 18px;
}
.num,
.days {
    padding: 0.5rem;
    font-size: 11px;
    text-align: center;
}
.num {
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
}

/* TENERE SECTION */
.tenere-card {
    display: flex;
    grid-template-columns: repeat(3, 1fr, 2fr);
    grid-template-rows: 1;
    padding-bottom: 2rem;
    margin-top: 2rem;
    border-bottom: 1px solid lightgrey
}
.tenere-card h2 {
    width:100%;
}
.tenere-card p {
    margin-bottom: 0.5rem;
}
.tenere .text-title {
    width: 80%;
}
.tenere-card a {
    color: rgb(54, 133, 137);
    font-size: 14px;
    font-weight: bold;
}

/* ESPERIENZE */
.esperienze {
    padding: 2rem 4rem;
    padding-bottom: 3rem;
}
.esperienze-container {
    display: flex;
    color: rgb(72, 72, 72);
    padding-bottom: 2rem;
}
.esperienze h1 {
    position: relative;
    top: 0rem;
    margin-bottom: 2rem;
    color: rgb(72, 72, 72);
}
.esperienze img {
    width: 100%;
    border-radius: 10px;
}
.img-container {
    position: relative;
}
.img-online {
    font-size: 12px;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: black;
    color: white;
    padding: 0.2rem;
    border-radius: 5px;
}
.esperienze-card {
    margin: 0.5rem;
    width: 30%;
}
.esperienze a {
    padding: 2rem 0;
    text-decoration: none;
    color: rgb(54, 133, 137);
    font-weight: bold;
}
.esperienze a:hover {
    text-decoration: underline;
}
.image-place {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.recensioni-span {
    font-size: 14px;
}

/* FOOTER */
footer {
    background: rgb(242, 242, 242);
    padding: 2rem 0;
    color: rgb(72, 72, 72);
    font-size: 14px;
}
.footer-list {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2rem;
    border-bottom: 1px solid lightgray;
}
.li-title {
    text-transform: uppercase;
    font-weight: bold;
}
.footer-list li {
    line-height: 2.5rem;
}
.bottom-footer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.bottom-footer li {
    margin-right: 1rem;
}
.footer-info ul {
    display: flex;
}
.footer-info a {
    text-decoration: none;
    color: rgb(72, 72, 72);
}
.languages {
    display: flex;
    font-weight: bold;
}
.languages a {
    color: rgb(72, 72, 72);
}
.social-media i {
    margin-right: 1rem;
    font-size: 1rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1100px) {
    .cards-container {
        display: block;
    }
    .card {
        display: flex;
        margin-bottom: 2rem;
        width: 100%; 
    }
    .card-title {
        display: none;
    }
    .card i {
        margin: 0 2rem;
    }
    .prova .text-title {
        width: 50%;
    }
    .tenere-text {
        display: none;
    }
    .tenere .text-title {
        width: 100%;
    }
    .recensioni img {
        min-width: 7%;
    }
}
@media screen and (max-width: 770px) {
    .cosa-farete,
    .prova,
    .host,
    .portare,
    .partecipare,
    .recensioni,
    .tenere {
        display: block;
        padding: 2rem;
    }
    .text-title,
    .recensioni-header {
        position: relative;
        top: 0rem;
        margin-bottom: 2rem;
        margin-right: 2rem;
        font-size: 22px;
    }
    h2 {
        font-size: 18px;
    }
    .prova .text-title {
        width: 100%;
        padding-bottom: 1rem;
        border-bottom: 1px solid lightgrey;
    }
    .prova p {
        font-size: 14px;
    }
    .prova i {
        margin-left: 1rem;
    }
    .recensioni img {
        min-width: 12%;
    }
   
}

